<header>
    <a href="/" class="site-log">blogs</a>
    <nav class="navigation">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <img src="/assets/images/mili-3.jpg" alt="user-profile" class="user-profile-img">
    </nav>
</header>