<header>
    <a href="" class="site-logo">highland</a>
    <nav class="navigation">
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/create">Add New</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>