<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="container">
        <%- include('./partials/nav.ejs') %>
        <div class="content">
            <% if(blogs.length) { %>
                <% blogs.forEach(blog=>{ %>
                    <a href="/single-blog/<%= blog.id %>"><p><%= blog.content %></p></a>
                    <hr>
                <% }) %>
            <% } else { %>
                <h3>No Blogs Yet</h3>
            <% } %>
        </div>
        <footer>
            <form action="/blog" method="post">
                <textarea name="content" id="" cols="50" rows="2"></textarea>
                <button type="submit">add</button>
            </form>
        </footer>
    </div>
    
</body>
</html>