<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="container">
        <%- include('./partials/nav.ejs') %>
        <hr>
        <br>
        <p><%= blog.content %></p>
        <a href="">edit</a> | 
        <a href="">delete</a>
        <br>
        <hr>
    </div>
</body>
</html>